.quote {
    background-color: #a5dddd;
    color: black;
    border-radius: 6px;
    padding: 3rem;
    margin: 3rem auto;
    width: 100%;
    max-width: 60%;
  }
  
  /* .first{
    font-size: 3px;
  } */
  
  .quote td {
    /* font-style: italic; */
    font-size: 18px;
    text-align: center;
    color: #000000;
  }

  .quote td span{
    /* font-style: italic; */
    font-size: 8px;
    text-align: center;
    color: #353535;
  }

  .quote .first {
    /* font-size: 12px; */
    font-weight: bold;
    text-align: left;
  }

  .invoice{
    background-color: aqua;
  }

  .invoice{
    display: none;
    margin-bottom: 300px;

  }
 .invoiceheader{
   margin-top: 20px;
   font-size: 10px;
   font-weight: bold;
 }

  @media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */

    .quote{
      display: none;
    }
   .invoice{
     display: block;
   }
  }